/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*------------------------- Layout styles ------------------------*/ 

/*------------------------- FONDO ------------------------*/ 


/*------------------------- Layout styles ------------------------*/ 

body{
/*	background:url(bg-body.gif)	 repeat-x #811000;*/
	/*background:url(fondo_4.jpg) repeat-x #811000;*/
	background-color:#88230F;
	font-family: 'Josefin Sans', sans-serif;
}

p a{
/*	color: #ff8800;*/
}

/*------------------------- Header --------------------------*/
#header {
	margin:0 auto;
	overflow:hidden;
	padding:0 10px;
	margin:0 0 0 305px;
	width:1080px;
}
#header div {
	background:url("girls-singing.jpg") no-repeat -35px 95px;
}
#header a#logo {
	display:block;
	float:left;
	height:100px;
	outline:none;
	width:100px;
}


#header ul#navigation {
	float:left;
	list-style:none;
	margin:0 0 0 35px;
	padding:0;
		font-family: 'Josefin Sans', sans-serif;
}

.fotos {
	float:left;
	list-style:none;
	margin:0 0 0 35px;
	padding:0;
		font-family: 'Josefin Sans', sans-serif;
}

#header ul#navigation li {
	float:left;
	margin:0 32px 0 0;
	padding:14px 0 0;
}
#header ul#navigation li a {
	/*CAMBIAR COLOR DE LETRAS DE RENDER*/
	color:#fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
	font-weight:400;
	outline:none;
	text-decoration:none;
	text-shadow:-1px -1px 1px #450b03;
}
#header ul#navigation li.selected {
	background:url("menu-selected.gif") no-repeat top center;
}
#header ul#navigation li.selected a,#header ul#navigation li a:hover {
	color:#f80;
	outline:none;
}
#header ul.navigation {
	clear:both;
	list-style:none;
	margin:0 0 0 5px;
	overflow:hidden;
	padding:34px 0 55px;
	width:275px;
}
#header ul.navigation li {
	float:left;
	height:150px;
}
#header ul.navigation li a {
	color:#fec284;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
	font-weight:700;
	outline:none;
	text-align:center;
	text-decoration:none;
	text-shadow:-2px -2px 0 #65190e,2px 2px 0 #65190e,-2px 2px 0 #65190e,2px -2px 0 #65190e;
	text-transform:uppercase;
}
#header ul.navigation li a img:hover {
	filter:alpha(opacity=80);
	opacity:0.8;
}
#header ul.navigation li a#link1 {
	outline:none;
	text-indent:10px;
}


/*-------------------------	Content --------------------------*/
#body {
	margin:0 auto;
	overflow:hidden;
	padding-bottom:129px;
	width:960px;
}
#body div {
	float:left;
	margin:40px 0 0;
	padding:0 0 0 30px;
}
#body div h2 {
	color:#f80;
	font-family: 'Josefin Sans', sans-serif;
	font-size:24px;
	font-weight:700;
	margin:20px 0;
	text-shadow:0 -1px 0 #450c03;
	text-transform:uppercase;
	width:575px;
}
#body div h2 a {
	color:#f80;
	outline:none;
	text-decoration:none;
}
#body div p {
	color:#c1c1c1;
	font-family:arial;
	font-size:14px;
	line-height:28px;
	margin:0 30px 20px 0;
	text-align:justify;
	width:570px;
}

.body {
	margin:-120px auto 0;
	min-height:1038px;
	overflow:hidden;
	padding:0 10px 30px;
	width:940px;
}
.body ul.navigation {
	clear:both;
	float:left;
	list-style:none;
	margin:120px 0 0 5px;
	overflow:hidden;
	padding:34px 0 55px;
	width:275px;
}
.body ul.navigation li {
	float:left;
	height:150px;
}
.body ul.navigation li a {
	color:#fec284;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
	font-weight:700;
	outline:none;
	text-align:center;
	text-decoration:none;
	text-shadow:-2px -2px 0 #65190e,2px 2px 0 #65190e,-2px 2px 0 #65190e,2px -2px 0 #65190e;
	text-transform:uppercase;
}
.body ul.navigation li a#link1 {
	outline:none;
	text-indent:10px;
}
.body div {
	float:left;
	margin:0 0 0 65px;
	width:570px;
}
.body div.first {
	margin:0 35px 0 65px;
	width:440px;
}
.body div.last {
	margin:0;
	width:120px;
}
.body div.last div:first-child {
	border:0;
	margin:87px 0 0;
}
.body div.last div:first-child ul {
	border:0;
	list-style:none;
	margin:0;
	padding:0;
}
.body div.last div:first-child ul li {
	border-top:1px dashed #9e3637;
	padding:13px 0;
}
.body div.last div h3 {
	border-bottom:1px solid #FFF;
	padding-bottom:15px;
	text-transform:uppercase;
}
.body div.last div {
	border:0;
	margin-top:10px;
}
.body div.last div ul {
	list-style:none;
	margin:0;
	padding:12px 0 0;
}
.body div h2 {
	color:#f80;
	font-family: 'Josefin Sans', sans-serif;
	font-size:40px;
	font-weight:700;
	margin:40px 0 10px;
	width:575px;
}
.body div h3 {
	color:#FFF;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	line-height:28px;
	margin:33px 0 0;
	text-align:justify;
	text-transform:uppercase;
}
.body div h4 {
	color:#fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	margin:20px 0 14px;
	text-transform:uppercase;
}
.body div h5 {
	clear:both;
	color:#c1c1c1;
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
	font-weight:700;
	margin:40px 0 0;
}
.body div h6 {
	color:#F80;
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:24px;
	font-weight:700;
	margin:36px 0 0 5px;
	width:300px;
}
.body div p {
	clear:both;
	color:#C1C1C1;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	line-height:28px;
	margin:0 0 10px;
	text-align:justify;
	width:auto;
}
.body div span {
	color:#C1C1C1;
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	line-height:28px;
	margin:0;
	text-align:justify;
	width:170px;
}
.body div div {
	border-color:#b1574a;
	border-style:dashed none none;
	border-width:2px;
	float:none;
	margin:0 0 10px;
	padding:10px 0 0;
	width:auto;
}
.body div.first div.first {
	border:0;
	margin:0;
	padding:0;
}
.body div.first div.first p {
	margin-bottom:30px;
}
.body div div h3 {
	color:#fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	font-weight:700;
	line-height:28px;
	margin:0;
	text-transform:none;
}
.body div div span {
	color:#FFF;
	display:block;
	float:none;
	margin:0;
	text-align:left;
	width:690px;
}
.body div#contact h4 {
	color:#fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	line-height:28px;
	margin:20px 0 14px;
	text-transform:none;
}
.body div table {
	margin:0 0 30px;
}
.body div table tr {
	color:#C1C1C1;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	line-height:24px;
	text-align:justify;
}
.body div table td.product {
	width:440px;
}
.body div#rooms div {
	border:0;
	height:1%;
	margin:0 0 72px;
	overflow:hidden;
}
.body div#rooms div h5 {
	margin:0;
}
.body div#rooms div h6 {
	margin:-4px 0 30px 5px;
}
.body div#rooms div a img {
	border:0;
	float:left;
	margin:0 20px 0 0;
}
.body div#rooms div p {
	clear:none;
	float:left;
	line-height:20px;
	width:325px;
}
.body div#rooms div span {
	color:#C1C1C1;
	display:inline-block;
	float:left;
	margin:0;
	width:155px;
}
.body div#events div.first {
	border:0;
	padding-top:0;
}
.body div#events div {
	height:1%;
	margin:0;
	overflow:hidden;
	padding:25px 0;
	width:auto;
}
.body div#events div a img {
	border:0;
	float:left;
	margin:20px 20px 0 0;
}
.body div#events div p {
	clear:none;
	float:left;
	line-height:20px;
	margin:20px 0 0;
	width:285px;
}
.body div#events div span {
	color:#C1C1C1;
}

.body ul.navigation li a img,.body div.last div:first-child ul li:first-child,.body div#gallery ul li a img {
	border:0;
}
.body div.last div:first-child ul li a,.body div.last div ul li a {
	color:#C1C1C1;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	line-height:28px;
	outline:none;
	text-decoration:none;
}
.body div.last div:first-child ul li a:hover,.body div.last div ul li a:hover {
	color:#F80;
}

/*-------------------------	Footer --------------------------*/

.bs-docs-footer {
      background-color:#811201;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      padding-left:20px;
      padding-right:20px;
      color:white;
      font-family: 'Josefin Sans', sans-serif;
}